colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
tzlocal==5.2 ; python_version >= "3.11" and python_version < "4.0"
