asttokens==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
black[jupyter]==24.10.0 ; python_version >= "3.11" and python_version < "4.0"
build==1.2.2.post1 ; python_version >= "3.11" and python_version < "4.0"
cachecontrol[filecache]==0.14.1 ; python_version >= "3.11" and python_version < "4.0"
certifi==2024.12.14 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "darwin" or sys_platform == "linux") and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
charset-normalizer==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
cleo==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0"
coverage[toml]==7.6.9 ; python_version >= "3.11" and python_version < "4.0"
crashtest==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
cryptography==44.0.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "linux"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "4.0"
distlib==0.3.9 ; python_version >= "3.11" and python_version < "4.0"
dulwich==0.21.7 ; python_version >= "3.11" and python_version < "4.0"
execnet==2.1.1 ; python_version >= "3.11" and python_version < "4.0"
executing==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
fastjsonschema==2.21.1 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.16.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==8.5.0 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
installer==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
ipython==8.31.0 ; python_version >= "3.11" and python_version < "4.0"
jaraco-classes==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
jedi==0.19.2 ; python_version >= "3.11" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "linux"
keyring==24.3.1 ; python_version >= "3.11" and python_version < "4.0"
matplotlib-inline==0.1.7 ; python_version >= "3.11" and python_version < "4.0"
more-itertools==10.5.0 ; python_version >= "3.11" and python_version < "4.0"
msgpack==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.11" and python_version < "4.0"
parso==0.8.4 ; python_version >= "3.11" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "4.0"
pkginfo==1.12.0 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.11" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.11" and python_version < "4.0"
poetry-core==1.9.1 ; python_version >= "3.11" and python_version < "4.0"
poetry-plugin-export==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
poetry==1.8.5 ; python_version >= "3.11" and python_version < "4.0"
prompt-toolkit==3.0.48 ; python_version >= "3.11" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
pure-eval==0.2.3 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "darwin" or sys_platform == "linux") and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
pygments==2.18.0 ; python_version >= "3.11" and python_version < "4.0"
pyproject-hooks==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
pytest-asyncio==0.25.0 ; python_version >= "3.11" and python_version < "4.0"
pytest-cov==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
pytest-xdist==3.6.1 ; python_version >= "3.11" and python_version < "4.0"
pytest==8.3.4 ; python_version >= "3.11" and python_version < "4.0"
pywin32-ctypes==0.2.3 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
rapidfuzz==3.11.0 ; python_version >= "3.11" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
secretstorage==3.3.3 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "linux"
setuptools==75.6.0 ; python_version >= "3.11" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "4.0"
tokenize-rt==6.1.0 ; python_version >= "3.11" and python_version < "4.0"
tomlkit==0.13.2 ; python_version >= "3.11" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "4.0"
trove-classifiers==2024.10.21.16 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.2.3 ; python_version >= "3.11" and python_version < "4.0"
virtualenv==20.28.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "4.0"
xattr==1.1.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "darwin"
zipp==3.21.0 ; python_version >= "3.11" and python_version < "3.12"
